h1 {
    color: rgb(8, 8, 9);
    font-family: arial;
    text-decoration:  underline;
    text-align: center;
}
h2 {
    background-color: aliceblue;
    width: auto;
    text-align: center;
}
h3 {
    margin-left: 50px;
    
}
