/* div {
    height: 200px;
    width: 200px;
    background-color: rgb(17, 18, 17);
    transition-duration: 2s;
}

/* #opacity {
    background-color: #ffa511;
    opacity: 1;
} */

/* div:hover {
    background-color:rgb(240, 193, 219);
    border-radius: 50%;
} */


/* div {
height: 100px;
width: 100px;
margin: 0 auto;
background-color: lightcoral;
margin-top: 10px;
/* transition: margin-top 2s ease-in 0.2s; */
/* transition: rotate (45deg) ;
} */


/* div:hover {
    margin-top: 400px;
    background-color:  grey;
} */

/* section {
    margin-top: 100px;
}
div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
    
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
}

/* transform */
/* #one {
    transform: rotate(45deg);
}
#two {
    transform: scale(0.5);
}
#three {
    transform: translate(100px);
}
#four {
    transform: skew(30deg);
}
#five {
    transform: rotate(30deg) translateX(150px);
} */ 

/* div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
    box-shadow: 2px 2px 8px black;
} */

/* div {
    width: 400px;
    height: 200px;
    background-color: lightblue;
    margin: 10px auto;
    background-image: url("bk.jpeg");
    background-size:  cover;
} */

/* .card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 4px  8px black;
    transition: 1s;

} */

/* .desc {
    padding: 0 2px 0 2px;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px black;
} */


/* div {
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static {
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}

#relative {
    background-color: yellow;
    position: relative;
    top: 100px;
     left: 100px;
     /* //offset */ 
/* }

#absolute {
    background-color: yellow;
    position: absolute;
    top: 100px;
    left: 100px;
}

#fixed {
    background-color: yellow;
    position: fixed;
    top: 100px;
    left: 100px;
} */ 

.face {
    width: 400px;
    height: 400px;
    background-color: yellow;
    border-radius: 50%;
    
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: red;
    border-radius: 0 0 100px 100px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.left-eye,
.right-eye {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.right-eye {
    left: 250px;
}