/* h1 
{
    color: blue;
    background-color: aliceblue;
}
p {
    color: red;
    background-color:antiquewhite
}

button {
    color: gold;
} */



/* p {
    background-color:black;
    color: white;
}
h2 {
    color: rgb(17, 15, 15)
}
button {
    background-color: blue;
    color: white;
} */


/* h1 {
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline ;
    text-transform: uppercase;
} */

/* h1 {
    color: pink;
}
#greet {
    color: yellow;
}
.myClass {
    color: brown;
}

div p {
    background-color: black;
}

.para {
    background-color: blue;
}

p {
    background-color: green;
} */

/* div.greetDiv .greet {
    color: green;
}
.greetDiv p.greet {
    color: blue;
}
.greetDiv .great {
    color: red;
} */

/* div {
    background-color: blue;
}
p {
    background-color: yellow;
} */